@import url("https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.4/css/all.min.css");

body {
    background: url(https://t.mwm.moe/fj);
    word-wrap: break-word;
}

.block {
    padding: 1em;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    border: 0.666667px solid rgba(255, 255, 255, 0.18);
    color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.9);
}

/* GRID-CSS */
.content-wrap {
    display: grid;
    grid-template-columns: 25em 30em 24em 6em;
    grid-gap: 2px;
    grid-template-areas:
        "infoblock timeblock sayingblock other    " "infoblock siteblock siteblock   siteblock" "metablock siteblock siteblock   siteblock";
    width: 84em;
    margin: auto;
}

.info-block {
    grid-area: infoblock;
}

.meta-block {
    grid-area: metablock;
}

.time-block {
    grid-area: timeblock;
}

.saying-block {
    grid-area: sayingblock;
}

.other {
    grid-area: other;
}

.site-block {
    grid-area: siteblock;
}

/* INFO-BLOCK */

.infoblock-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meta-item {
    display: inline;
}

.meta-item a {
    text-decoration: none;
}

.avatar {
    border: 2px solid #959595;
    border-radius: 52%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    width: 5em;
}

.avatar:hover {
    transform: rotate(360deg);
    transition-delay: 0.2s;
    transition-duration: 1s;
}

.account-img {
    width: 12%;
}

.infoname {
    font-weight: 1000;
    font-size: 18px;
    padding-left: .4em;
}

.profile {
    font-size: 13px;
}

/* TIME-BLOCK */
.time {
    font-weight: 1000;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SAYING-BLOCK */
.jinrishici-sentence {
    font-size: 1.5em;
    font-weight: 1000;
}

.jinrishici-info {
    font-size: 1.2em;
}

/* OTHER-BLOCK */


.other-item {
    margin: auto;
    display: block;
}

.other-img {
    width: 100%;
    padding: 1em 0 1em 0;
}

/* MOBILE STYLE */
@media (max-width: 385px) {
    .content-wrap {
        display: grid;
        grid-template-columns: 80% 22%;
        grid-gap: 0;
        grid-template-areas:
            "infoblock   metablock  " "infoblock   timeblock" "infoblock   other      " "sayingblock sayingblock" "siteblock   siteblock  ";
        width: 100%;
        margin: auto;
    }

    .account-img,
    .other-img {
        width: 2em;
    }

    .time-block .time {
        writing-mode: tb;
        font-size: 150%;
    }

    .time-block .data {
        display: none;
    }

    .meta-block {
        height: 16em;
    }
}