body {
    background: url(https://t.mwm.moe/fj) #000;
    word-wrap: break-word;
    unicode-bidi: isolate;
}

.block {
    margin: .8em;
    padding: 1em;
    border: .666667px solid hsla(0, 0%, 100%, .18);
    -webkit-border-radius: 15px;
    background-color: hsla(0, 0%, 58.4%, .3);
    -webkit-box-shadow: hsla(0, 0%, 55.7%, .19) 0 6px 15px 0;
    color: hsla(0, 0%, 100%, .9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px)
}

.bg-black {
    background-color: rgba(43, 43, 43, .945)
}

.setting-block {
    width: 64%;
    overflow: hidden;
    z-index: 2;
    margin: 10vh 15vw 0;
    position: fixed
}

.setting-item-info {
    font-size: 84%;
    color: #ddd;
}

.setting-appearance,
.setting-function,
.setting-developers,
.setting-devlog {
    border-right: .2em solid hsla(0, 0%, 100%, .18);
    margin: 0.3em;
    padding: 1em;
}

.setting-title {
    font-size: x-large;
}

hr {
    border: 1px solid hsla(0, 0%, 100%, .9)
}

.content-wrap {
    display: grid;
    margin: auto;
    width: 75%;
    grid-template-columns: 34% 32% 26% 8%;
    grid-gap: 2px;
    grid-template-areas: "infoblock timeblock sayingblock other    " "infoblock siteblock siteblock   siteblock" "metablock siteblock siteblock   siteblock"
}

.setting {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 2px;
}

.info-block {
    grid-area: infoblock
}

.meta-block {
    text-align: center;
    grid-area: metablock
}

.time-block {
    grid-area: timeblock;
    text-align: center
}

.saying-block {
    grid-area: sayingblock
}

.other {
    text-align: center;
    grid-area: other
}

.site-block {
    grid-area: siteblock
}

.settingblock-title,
.siteblock-title {
    border-bottom: 1.4px solid hsla(0, 0%, 100%, .9)
}

.site-item {
    display: inline-block;
    padding: 1em;
    margin: .2em;
    border: 1.2px solid hsla(0, 0%, 100%, .9);
    border-radius: 12px
}

.site-bookmark {
    text-decoration: none
}

.site-bookmark-title {
    display: inline;
    font-size: 120%;
    font-weight: 500;
}

.site-bookmark-description,
.site-bookmark-title {
    color: hsla(0, 0%, 100%, .9);
}

.site-my,
.site-often {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%
}

.site-bookmark-text {
    display: inline;
}

.site-icon {
    width: 1.2em;
    height: 1.2em;
}

.infoblock-main {
    display: flex;
    justify-content: center;
    align-items: center
}

.meta-item {
    display: inline
}

.meta-item a {
    text-decoration: none
}

.avatar {
    width: 5em;
    border: 2px solid #959595;
    border-radius: 52%;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    background-color: #fff
}

.avatar:hover {
    transition-delay: .2s;
    transition-duration: 1s;
    transform: rotate(1turn)
}

.account-img {
    padding: .3em 0;
    width: 2.5vw;
    height: 2.5vw
}

.infoname {
    padding-left: .4em;
    font-weight: 1000;
    font-size: 18px
}

.profile {
    font-size: 13px
}

.time {
    width: 100%;
    font-weight: 1000;
    font-size: xx-large
}

.weather {
    border-top: 1.4px solid hsla(0, 0%, 100%, .9);
    margin: 10px;
    padding: 5px
}

.jinrishici-sentence {
    font-weight: 1000;
    font-size: 1.5em
}

.jinrishici-info {
    font-size: 1.2em
}

.other-img {
    padding: .4em 0;
    width: 2vh;
    height: 2vh
}

@media(max-width:496px) {
    .content-wrap {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: 82% 20%;
        grid-gap: 0;
        grid-template-areas: "infoblock   metablock" "infoblock   timeblock" "infoblock   other" "sayingblock sayingblock    " "siteblock   siteblock";
    }

    .setting {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: 100%;
        grid-gap: 0;
    }

    .account-img,
    .other-img {
        width: 1.2em;
        height: 1.2em;
    }

    .time-block .time {
        font-size: 150%;
        writing-mode: tb;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10.8vh;
    }

    .time-block .data,
    .time-block .weather,
    .time-block hr {
        display: none
    }

    .meta-item {
        display: block
    }

    .site-my {
        grid-template-columns: 50% 50%;
    }

    .site-bookmark-text {
        display: inline-block;
    }

    .site-often {
        grid-template-columns: 100%;
    }

    .site-icon {
        width: 3em;
        height: 3em;
        border-right: 1.2px solid hsla(0, 0%, 100%, .9);
        margin-right: 8px;
        padding-right: 4px;
    }
}

@media(min-width:496px) and (max-width:875px) {
    .content-wrap {
        display: grid;
        margin: auto;
        width: 80%;
        grid-template-columns: 60% 18% 12% 12%;
        grid-gap: 0;
        grid-template-areas: "infoblock timeblock   timeblock   other             " "infoblock metablock   metablock   metablock         " "infoblock sayingblock sayingblock sayingblock" "siteblock siteblock   siteblock   siteblock         "
    }

    .meta-img,
    .other-img {
        width: 1.5vh;
        height: 1.5vh
    }

    .setting {
        display: grid;
        margin: auto;
        width: 100%;
        grid-template-columns: 50% 50%;
        grid-gap: 0;
    }
}