@import "https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.4/css/all.min.css";

body {
	background: url(https://t.mwm.moe/fj);
	word-wrap: break-word;
}

.block {
	margin: .8em;
	padding: 1em;
	border: .666667px solid rgba(255,255,255,.18);
	-webkit-border-radius: 15px;
	background-color: rgba(255,255,255,.3);
	-webkit-box-shadow: rgba(142,142,142,.19) 0 6px 15px 0;
	color: rgba(255,255,255,.9);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

hr {
	border: 1px solid rgba(255,255,255,.9);
}

.content-wrap {
	display: grid;
	margin: auto;
	width: 100%;
	grid-template-columns: 34% 32% 26% 8%;
	grid-gap: 2px;
	grid-template-areas: "infoblock timeblock sayingblock other    " "infoblock siteblock siteblock   siteblock" "metablock siteblock siteblock   siteblock";
}

.info-block {
	grid-area: infoblock;
}

.meta-block {
	grid-area: metablock;
}

.time-block {
	grid-area: timeblock;
}

.saying-block {
	grid-area: sayingblock;
}

.other {
	grid-area: other;
}

.site-block {
	grid-area: siteblock;
}

.infoblock-main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.meta-item {
	display: inline;
}

.meta-item a {
	text-decoration: none;
}

.avatar {
	width: 5em;
	border: 2px solid #959595;
	border-radius: 52%;
	background: linear-gradient(145deg,#cacaca,#f0f0f0);
}

.avatar:hover {
	transition-delay: .2s;
	transition-duration: 1s;
	transform: rotate(360deg);
}

.account-img {
	width: 12%;
}

.infoname {
	padding-left: .4em;
	font-weight: 1000;
	font-size: 18px;
}

.profile {
	font-size: 13px;
}

.time {
	display: flex;
	width: 100%;
	font-weight: 1000;
	font-size: xx-large;
	justify-content: center;
	align-items: center;
}

.data {
	display: flex;
	justify-content: center;
	align-items: center;
}

.jinrishici-sentence {
	font-weight: 1000;
	font-size: 1.5em;
}

.jinrishici-info {
	font-size: 1.2em;
}

.other-item {
	display: block;
	margin: auto;
}

.other-img {
	padding: .4em 0;
	width: 100%;
}

@media(max-width:415px) {
	.content-wrap {
		display: grid;
		margin: auto;
		width: 100%;
		grid-template-columns: 82% 23%;
		grid-gap: 0;
		grid-template-areas: "infoblock   metablock  " "infoblock   timeblock" "infoblock   other      " "sayingblock sayingblock" "siteblock   siteblock  ";
	}

	.account-img,
  .other-img {
		width: 1.5em;
	}

	.time-block .time {
		font-size: 150%;
		writing-mode: tb;
	}

	.time-block .data {
		display: none;
	}

	.meta-block {
		height: 16em;
	}
}
